{% extends 'base.html' %}

{% block content %}
    <div class="form">
        <h1>{% block title %} Add a New Flashcard {% endblock %}</h1>
        <form method="post">
            <label for="term">Term</label>
            <br>
            <input type="text" name="term"
                placeholder="Flashcard term"
                value="{{ request.form['term'] }}">
            <br>

            <label for="definition">Definition</label>
            <br>
            <input type="text" name="definition"
                placeholder="Flashcard definition"
                value="{{ request.form['definition'] }}">
            <br>

            <label for="sets">Set</label>
            <br>
            <input type="text" name="sets"
                placeholder="Flashcard sets"
                value="{{ request.form['sets'] }}">
            <br>

            <button type="submit">Submit</button>
        </form>
    </div>
{% endblock %}