{% extends 'base.html' %}

{% block content %}
    <div class="form">
        <h1>{% block title %} Edit "{{ flashcard['term'] }}" {% endblock %}</h1>
        <form method="post">
            <label for="term">Term</label>
            <br>
            <input type="text" name="term"
                placeholder="Flashcard term"
                value="{{ request.form['term'] or flashcard['term'] }}"></input>
            <br>

            <label for="defenition">Definition</label>
            <br>
            <input type="text" name="defenition"
                placeholder="Flashcard defenition"
                value="{{ request.form['defenition'] or flashcard['defenition'] }}"></input>
            <br>
            <button type="submit">Submit</button>
        </form>
    </div>
{% endblock %}